<h1><%= @user.first_name %> Profile</h1>
<% @user.events.each do |event| %>
<h3><%= link_to event.name, user_event_path(event.user, event) %></h3>
<td><%= event.date %></td>
<td><%= event.location %></td>
<% end %>
