<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Description</th>
  </tr>
  <% @items.each do |item| %>
  <tr>
    <td><%= link_to item.name, user_event_item_path(item.event.user, item.event, item)%></td>
    <td><%= item.quantity %></td>
    <td><%= item.description %></td>
    <% if can? :destroy, item %>
    <td><%= link_to "Delete Item", user_event_item_path(item.event.user, item.event, item), :method => :delete %></td>
    <% end %>

  </tr>
  <% end %>
</table>
